.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(252, 252, 252);
  background-color: rgb(37, 37, 38);
}

/* Form Styling */
.Name-field {
  padding: 0 0 0 18px;
  margin-top: -18px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  color: rgb(252, 252, 252);
  text-align: start;
  word-wrap: break-word;
  line-height: 90%;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Description-field {
  margin-left: 10px;
  width: 95%;
  height: 43%;
  padding: 0;
  font-size: 15px;
  border: none;
  color: rgb(252, 252, 252);
  line-height: 90%;
}

.Note-form {
  flex-grow: 1;
  border-radius: 25px;
  margin: 5px;
  height: 200px;
  width: 230px;
  overflow: hidden;
  position: relative;
}

::placeholder {
  color: rgb(252, 252, 252);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(252, 252, 252);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(252, 252, 252);
}

.Note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 720px;
}

.Note-header {
  display: flex;
  height: 40%;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
}

.Note-title {
  text-align: start;
  line-height: 90%;
  margin: 7px 0 0 7px;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Note-image-thumbnail {
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-radius: 0 25px 0 0;
}

.Note {
  flex-grow: 1;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  height: 175px;
  width: 175px;
  max-width: 47%;
}

.Note-body {
  height: 48%;
  width: 100%;
  margin: 0;
  text-align: start;
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* button styling */
.Button-style {
 border: none;
}

.Button-space {
  padding: 5px 15px;
  border-radius: 25px;
  color: rgb(252, 252, 252);
}

.Image-button {
  margin-left: -18px;
  padding-top: 20px;
  text-align: center;
  width: 50%;
  height: 75%;
}

.Delete {
  background-color: rgb(59, 59, 59); 
}

.Save {
  background-color: rgb(59, 59, 59);
  margin-left: 10px; 
}

.Filter-white {
  filter: invert(94%) sepia(54%) saturate(2%) hue-rotate(357deg) brightness(107%) contrast(98%);
}


/* sticky colors */
.Gray {
  background-color: rgb(59, 59, 59);
}

.Orange {
  background-color: rgb(225, 206, 113);
}

.Red {
  background-color: rgb(255, 167, 137);
}

.Green {
  background-color: rgb(213, 231, 124);
}

.Purple {
  background-color: rgb(184, 126, 249); 
}

.Blue {
  background-color: rgb(98, 225, 238); 
}